@model Howfar.BuildCode.Models.Table
@using Howfar.BuildCode.App_Code;
@functions{ 
    public bool IsSearch(string ColumnName) {
        List<string> arr = new List<string>() { "EmployeeID" };
        return arr.Contains(ColumnName);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Editor</title>
    <style type="text/css" media="screen">
        body {
            overflow: hidden;
        }

        #editor {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>

</head>
<body>
    <pre id="editor"><textarea>
@*@@model PDRZ.Integration.Entity.TransferData.School.@Model.ConfigInfo.EntityName@Model.ConfigInfo.EntityName@("ViewData")*@
@@using PDRZ.IntegrationController.Base;
@@using Panto.Framework.Entity;
@@{
    ViewBag.Title = "@Model.ConfigInfo.TableComment";
    List<PermissionInfo> perms = ViewBag.perms;
    List<string> listPerm = new List<string>();
    if (perms != null)
    {
        listPerm = perms.Select(p => p.Code).ToList();
    }
}
&ltscript type="text/javascript" src="@Url.Content("~/Front/js/jQuery.table.js")">&lt/script>
&ltscript type="text/javascript" src="@@Url.Content("~/Scripts/@Model.ConfigInfo.FolderPath/@Model.ConfigInfo.PageName@("List.js")")">&lt/script>
@@Html.AntiForgeryToken()
<div class="container-fluid" style="height: calc(100%);">
    <div class="row">
        <div class="col-xs-12 catalog clearfix">
            <i class="current"></i>
            <p>
                <span class="catalog-parent">教科</span><strong>></strong><span class="catalog-child">@Model.ConfigInfo.TableComment</span>
            </p>
         </div>
    </div>
    <div class="row main user">
        <div class="col-xs-12 info-left">
            <div id="grid" class="col-sm-12 infoMain commonStyle staff active">
                <div class="inputWrap" style="height: 65px;">
                    <span class="search_">查询条件</span>
                    <div class="searchWrap">
                        @foreach (var item in Model.EntityList)
                        {
                            var IsKz = item.ColumnName.Contains("ID");
                        <div class="searchContent search">
                            <label>@item.CommentSimple</label>
                            @if(IsKz)
                            {
                            <input type="text" @(IsSearch(@item.ColumnName) ? "readonly" : "") id="@item.ColumnName.Substring(0,item.ColumnName.Length-2)@("Name")" value="" />
                            <input type="hidden"  id="@item.ColumnName" value="" />
                            }
                            else
                            {
                                <input type="text" id="@item.ColumnName" value="" />
                            }
                            @if (IsSearch(@item.ColumnName)) {
                            <img src="@Url.Content("~/Front/images/search.png")" alt="" onclick="@Model.ConfigInfo.PageName@("List").SelectEmployee();">
                            }
                        </div>
                        }
                        <div class="searchButton">
                            <input type="button" id="btnQuery" value="查询" onclick="@Model.ConfigInfo.PageName@("List.searchTable();")" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 info" style="height: calc(100% - 65px);">
                     <div class="col-xs-12 table2 fullHeight tableEllipsis" style="padding-top: 10px;">
                          <div class="row commonRow">
                            <p class="col-xs-12 infoTitle">
                                <span>@Model.ConfigInfo.TableComment@("列表")</span>
                            </p>
                            <div class="btnGroup searchRight">
                                @@Html.PermissionButtonList(perms)
                            </div>
                            <div class="row_import"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </textarea></pre>
    <script src="~/Scripts/ace/ace.js"></script>
    <script src="~/Scripts/ace/ext-language_tools.js"></script>

    <script>
        var editor = ace.edit("editor");
        //设置风格和语言（更多风格和语言，请到github上相应目录查看）
        theme = "xcode"
        language = "html"//"csharp"
        editor.setTheme("ace/theme/" + theme);
        editor.session.setMode("ace/mode/" + language);
        ace.require("ace/ext/language_tools");
        //字体大小
        editor.setFontSize(13);

        //设置只读（true时只读，用于展示代码）
        editor.setReadOnly(false);

        //自动换行,设置为off关闭
        editor.setOption("wrap", "free")
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
    </script>
</body>
</html>