@model Howfar.BuildCode.Models.Table
@{
    string OName = Model.ConfigInfo.PageName + "List";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Editor</title>
    <style type="text/css" media="screen">
        body {
            overflow: hidden;
        }

        #editor {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>

</head>
<body>
    <pre id="editor"><textarea>
var @OName = {};

$(function () {
    //加载表头和表格
    $("#grid").initTableHeader(@OName@(".opt);")
    @OName@(".refreshTable();")

    //编辑页面
    $(document).on("click", "#grid tbody tr td:nth-child(2) a", function () {
        var id = $($(this).parent().parent().children()[0]).find("input").attr("data-id");
        @OName@(".edit(id);")
    });

    //回车事件
    document.onkeydown = function (e) {
        var ev = document.all ? window.event : e;
        if (ev.keyCode == 13) {
            $("#btnQuery").focus();
        }
    }

});


(function (ns) {
    ns.getCondition = function () {
        var param = {
    @ViewBag.ListJSCond
        };
        return JSON.stringify(param);
    }

    ns.opt = {
        name: "@Model.ConfigInfo.TableComment",
        url: "/@Model.ConfigInfo.ModelFolderName/@Model.ConfigInfo.ControllerName/GetPageList",
        tHeader: [
@ViewBag.ListJSTitleContent
        ],
        data: {
            combinSearchText: ns.getCondition(),
            orderSeq: "CreateDate DESC",
            pageNo: 1,
            pageSize: 20
        },
        checkAll: { data_id: "@Model.ConfigInfo.PKName", flag: true }
    }

    //刷新列表
    ns.refreshTable = function () {
        $("#grid").drawTable(ns.opt);
    }

    ns.getSelectIDs = function () {
        var ids = "";
            $("#grid tbody").find("input[type=checkbox]:checked").each(function (i, e) {
            ids += $(e).attr("data-id") + "','";
        })
            ids = ids.substr(0, ids.length - 3);
        return ids;
    }



    ns.searchTable = function () {
        ns.opt.data.combinSearchText = ns.getCondition();
        ns.opt.data.pageNo = 1;
        ns.refreshTable();
    }

    //新增、编辑
    ns.edit = function (id) {
        var title='@Model.ConfigInfo.TableComment';
        if(id && id.length > 0){
            title='编辑'+title;
        }else{
            title='新增'+title;
        }
        var index = layer.open({
            type: 2,
                title: title,
                area: ['1024px', '665px'], //自定义文本域宽高
                maxmin: true,
                content: ['/@Model.ConfigInfo.ModelFolderName/@Model.ConfigInfo.ControllerName/Edit?@Model.ConfigInfo.PKName=' + id, 'no'],
                btn: ['确定', '关闭'],
                success: function (layero, index) {

                },
                yes: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.@(OName.Substring(0,OName.Length-4))@("Edit.submitPage();")
            }
        });
    }

    //删除
    ns.delete = function () {
        var ids = ns.getSelectIDs();

        if (ids == "") {
            window.Pantosoft.IT.Utility.alertDelete();
            return false;
        }

        Pantosoft.IT.Utility.deleteRecord({
            url: "/@Model.ConfigInfo.ModelFolderName/@Model.ConfigInfo.ControllerName/Delete",
                param: { ids: ids },
                success: function (data) {
                ns.refreshTable();
            }
        });
    }

    //选择教职工
    ns.SelectEmployee = function () {

        var index = top.layer.open({
            type: 2,
            title: "选择教职工",
            area: ['1024px', '665px'], //自定义文本域宽高
            maxmin: true,
            content: ["/SelectEmployee/SelectEmployee?type=single", 'no'],
            btn: ['确定', '清空', '关闭'],
            yes: function (index, layero) {
                //当前的iframe
                var iframeWin = top.window[layero.find('iframe')[0]['name']];
                var listEmployee = iframeWin.SelectEmployee.getEmployee();
                if (listEmployee) {
                    $('#EmployeeName').val(listEmployee[0].Name);
                    $('#EmployeeID').val(listEmployee[0].EmployeeID);
                }
                top.layer.close(index);
                ns.searchTable();
            },
            btn2: function (index, layero) {
                $('#EmployeeName').val('');
                $('#EmployeeID').val('');
                top.layer.close(index);
                ns.searchTable();
            }
        });
    }

})(@OName);
    </textarea></pre>
    <script src="~/Scripts/ace/ace.js"></script>
    <script src="~/Scripts/ace/ext-language_tools.js"></script>

    <script>
        var editor = ace.edit("editor");
        //设置风格和语言（更多风格和语言，请到github上相应目录查看）
        theme = "xcode"
        language = "javascript"//"csharp"
        editor.setTheme("ace/theme/" + theme);
        editor.session.setMode("ace/mode/" + language);
        ace.require("ace/ext/language_tools");
        //字体大小
        editor.setFontSize(13);

        //设置只读（true时只读，用于展示代码）
        editor.setReadOnly(false);

        //自动换行,设置为off关闭
        editor.setOption("wrap", "free")
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
    </script>
</body>
</html>